<h1></h1>

<p>
  <font face="游ゴシック">
  <p>注文依頼</p>
  <p></p>
  <p><%= @supplier_name %></p>
  <p><%= @responsible_name %></p>
  <p>いつもお世話になっております。</p>
  <p>注文書を添付いたしますので、ご確認の上よろしくお願いいたします。</p>
  <% if @construction_place.present? %>
    <p><%= @construction_place %></p>
  <% end %>
  </p>
  </p>
  </p>
  ※このメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
  <p>□■□■□■□■□■□■□■□■</p>
  <p>アデュース電気 薄田</p>
  <p>〒955-0021 新潟県三条市下保内1039-2</p>
  <p>TEL：0256-47-0200</p>
  <p>FAX：0256-47-0211</p>
  <p>E-Mail：adusu@coda.ocn.ne.jp</p>
  <p>□■□■□■□■□■□■□■□■</p>
  </p>
  <font>
</p>

 