<h1></h1>

<p>
  <p>岡田電気産業(株)　熊倉様　いつもお世話になっております。</p>
  <p>以下の注文番号の登録をお願いいたします。</p>
  <p></p>
  <p><%= @user %></p>
  <p><%= @construction %></p>
  <p></p>
  ※このメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
</p>