<% provide(:title, '注文データ') %>
<div class="page-header">
</br>
<h1><font size="5">注文データの作成</font></h1>
</div>
<%= render 'form2' %>

<%= link_to 'Show', @purchase_order_history %> |
<%= link_to 'Back', purchase_order_histories_path %>
