<p id="notice"><%= notice %></p>

<p>
  <strong>Quotation items division name:</strong>
  <%= @quotation_items_division.quotation_items_division_name %>
</p>

<%= link_to 'Edit', edit_quotation_items_division_path(@quotation_items_division) %> |
<%= link_to 'Back', quotation_items_divisions_path %>
