<html>
  <br>
  <br>
  <br>
  <head>
    <title>&nbsp;&nbsp;業務管理メニュー</title>
  </head>
  <body>
    <font color="#D2691E">
    <h1>&nbsp;&nbsp;ADUSU業務管理</h1>
	<h1>&nbsp;&nbsp;Webシステム</h1>
	</font>
  </body>
  <footer>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Copyright (C) 2016 copyrights.<a href="http://adusu-denki.mydns.jp/">
	         adusu-denki.mydns.jp</a> All Rights Reserved.
	 　　　</p>
         <%= link_to "　　ログアウト", session_index_path, method: :delete %>
  </footer>
</html>
